.frontend {
  background-color: $color-light;
  background-image: url(../img/fe-logo.png);
  background-position: -10% -10%;
  background-size: 75%;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
  text-shadow: 5px 5px 10px $color-light, 0 0 30px $color-light;


  @extend %section;

  &__overlay {
    @include abs-position;
    background: linear-gradient(135deg,  rgba($color-light, 0.4) 50%, rgba($color-secondary-1-1, 0.4) 100%);
  }

  &__content {
    position: relative;
    z-index: 1;
    color: $color-secondary-2-4;
  }

  &__title {
    @extend %section-title;
  }

  &__subtitle {
    @include section-subtitle($color-secondary-2-4);
    font-weight: 700;
    padding-left: 400px;
    text-align: left;

    &::after {
      display: none;
    }
  }

  &__description {
    @extend %section-description;
    padding-left: 270px;
    transform: translateY(40px);
  }
}
