%section {
  position: relative;

  min-height: 100vh;
  overflow: hidden;
  max-width: 100%;
}

%section-title {
  font-size: 5rem;
  font-weight: 300;
  text-transform: uppercase;
  margin: 0 0 0.4em;
  letter-spacing: 0.1em;
  text-align: center;

  b {
    padding-left: $gap;
    font-weight: 900;
    text-transform: uppercase;
  }
}

%section-logo {
  width: 200px;
}

%section-description {
  margin: -0.3em 0 0 0;
  font-size: 2rem;
  line-height: 1.5em;
}

%section-col-2 {
  display: flex;
  gap: 70px;
}
