%section {
  position: relative;

  min-height: 100vh;
  overflow: hidden;
  max-width: 100%;
}

%section-title {
  font-size: 5rem;
  font-weight: 300;
  text-transform: uppercase;
  margin: 0 0 0.4em;
  letter-spacing: 0.1em;
  text-align: center;

  b {
    padding-left: 20px;
    font-weight: 900;
    text-transform: uppercase;
  }
}

%section-subtitle {
  position: relative;
  font-size: 3rem;
  text-transform: uppercase;
  margin: 0 0 3em;
  letter-spacing: 0.1em;
  font-weight: 100;
  text-align: center;
  line-height: 1.25em;

  span {
    white-space: nowrap;
  }

  &::after {
    content: "";
    height: 3px;
    width: 20%;
    background-color: $color-light;
    position: absolute;
    bottom: -1em;
    left: 50%;
    transform: translateX(-50%);
  }
}

%section-logo {
  width: 200px;
}

%section-description {
  margin: -0.3em 0 0 0;
  font-size: 2rem;
  line-height: 1.5em;
}

%section-col-2 {
  display: flex;
  gap: 70px;
}
